@font-face {
    font-family: "3dumb";
    src: url(../fonts/3dumb/3Dumb.ttf);
}

@keyframes sprite{
    to{background-position: -640px;}
}

@keyframes shine{
    to{}
}

#about-me {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#about-me__sprite {
    position: relative;
    width: 160px;
    height: 160px;
    
    cursor: pointer;
    z-index: 2;

    background-image: url(../img/aboutme.png);
    animation: sprite 0.6s steps(4) infinite;
}

#about-me__cloude {
    position: relative;
    width: 160px;
    height: 60px;   

    text-align: center;

    background-image: url(../img/cloude-aboutme.png);
}

#about-me__textarea {
    font-family: "3dumb";
    font-size: 1.5em;
    font-weight: bold;
    margin: 2%;
}

[id^="about-me__button"] {
    font-family: "3dumb";
    font-size: 1.5em;
    font-weight: bold;
    margin: 2%;

    cursor: pointer;
}

#about-me__tooltip {
    position: absolute;
    display: none;
    width: 50%;
    height: 50%;

    z-index: 5;

    background-color:rgba(51, 50, 50, 0.3);
    border: solid 1px black;
    border-radius: 2%;
}

.about-me__rowtitle {
    margin: auto;
    padding: 0.4em;

    border: solid 1px black;
    border-radius: 0.4em;
    font-size: 100%;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.about-me__rowtitle:nth-of-type(n) {
    background-color: rgba(121, 121, 121, 0.9);
}

.about-me__rowtitle:nth-of-type(2n) {
    background-color: rgba(92, 92, 92, 0.9);
}

[class^="about-me__skills"] {
    margin: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.about-me__skills--0 {
    background-image: url("../img/star0.png");
}

.about-me__skills--1 {
    background-image: url("../img/star1.png");
}
