@font-face {
    font-family: 3dumb;
    src: url(../fonts/3dumb/3Dumb.ttf);
}

@keyframes show-menu {
    0% {visibility: visible;}

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.menu {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    z-index: 1;
    visibility: hidden;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;

    animation: show-menu 1s ease-out 3s 1 alternate forwards;
}

#menu__info {
    position: absolute;
    left: 0;
    bottom: 0;
}

#menu__info >* {
    color: white;
    font-size: 0.5em;
}

#menu__tooltip {
    position: absolute;
    max-width: 35%;

    color: black;
    font-family: "3dumb";
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    text-shadow:
        0 0 10px white,
        0 0 30px white;

    z-index: 2;
    user-select: none;

    opacity: 0;
    transition: opacity 1s;
}

[id^="menu__option"] {
    width: 20%;
    height: 20%;
    margin: 3%;

    border-radius: 10%;
    background-color: rgb(146, 146, 146);
    background-size: 100% 100%;
    
    opacity: 0.5;
    transition: 0.5s;
}    

[id^="menu__option"]:hover {
    margin: 5%;
    border: 0.1em solid rgba(0, 0, 0, 1);
    cursor: pointer;
    transform: scale(1.25) rotateZ(15deg);
    opacity: 0.9;
    transition: 1s, border 0s;
}

[id^="menu__option"]:nth-child(5n + 1):hover{
    box-shadow: 0px 0px 150px 150px rgba(0, 0, 255, 0.8),
    0px 0px 25px 1px rgba(0, 0, 0, 0.6) inset;
}

[id^="menu__option"]:nth-child(5n + 2):hover{
    box-shadow: 0px 0px 150px 150px rgba(0, 128, 0, 0.8),
    0px 0px 25px 1px rgba(0, 0, 0, 0.6) inset;
}

[id^="menu__option"]:nth-child(5n + 3):hover{
    box-shadow: 0px 0px 150px 150px rgba(255, 0, 0, 0.8),
    0px 0px 25px 1px  rgba(0, 0, 0, 0.6) inset;
}

[id^="menu__option"]:nth-child(5n + 4):hover{
    box-shadow: 0px 0px 150px 150px rgba(255, 255, 0, 0.8),
    0px 0px 25px 1px  rgba(0, 0, 0, 0.6) inset;
}

[id^="menu__option"]:nth-child(5n + 5):hover{
    box-shadow: 0px 0px 150px 150px rgba(238, 9, 238, 0.8),
    0px 0px 25px 1px  rgba(0, 0, 0, 0.6) inset;
}

